body {
  padding-top: 30px;
  background-color: #eee;
}

.navbar-brand{
	padding:0;
}

.table > tbody > tr > td {
     vertical-align: middle;
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
}

.nav-tabs > li {
    margin-bottom: -2px;
}



.navbar .active > a { background:#555!important } 

.input-group-btn select {
	border-color: #ccc;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.gutter-10.form-group{
  margin-right: -5px;
  margin-left: -5px;

}

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"]{
  padding-right: 5px;
  padding-left: 5px;
}

.well{
    background-color: #FFF;

}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.write-line{
	margin-top:30px;
	margin-bottom:20px;
	border-top: 1px solid #ccc;
}

a{
	color: #000;
}

a:hover{
	color:#CF1500;

}
a[href^=tel]{
    color:inherit;
    text-decoration:none;
	font-size: inherit;
}

.tab-content > form > .tab-pane,
.pill-content > form > .pill-pane {
    display: none;
}
.tab-content > form > .active,
.pill-content > form > .active {
    display: block;
}

@media only screen{
	.report-logo{
		 display:none;
	}
}

@media print
{
	body {
	  padding-top: 0px;
	}

	table{
		font-size: 12px;
	}
	
	h1{
		margin-top: 0;	
	}
	
	table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    	padding: 3px !important;
    }

}

.form-keypad {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-keypad .form-keypad-heading,
.form-keypad .checkbox {
  margin-bottom: 10px;
}
.form-keypad .checkbox {
  font-weight: normal;
}
.form-keypad .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-keypad .form-control:focus {
  z-index: 2;
}
.form-keypad input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-keypad input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color:#fff;
}

.tab-pane {
  background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
}

.nav-tabs {
    margin-bottom: 0;
}

input[readonly] {
  cursor: not-allowed;
}


.calendar-entry{
  padding: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.entry{
	vertical-align: text-top !important;
	height: 150px;
	position: relative;
	padding-top: 30px !important;
}

.entry .add-entry-btn { display:none;}
.entry:hover .add-entry-btn { display:inline-block;}

.add-entry-btn{
	position: absolute;
	top: 5px;
	right: 8px;
}
