# AddHandler cgi-script .php .phps .htm .inc 
Options -ExecCGI
Options -Indexes

<Files ~ ".*..*">
	Order Allow,Deny
	Deny from all
</Files>
<FilesMatch ".(JPG|JPEG|PNG|jpg|jpeg|jpe|png|pdf)$">
	Order Deny,Allow
	Allow from all
</FilesMatch>
