/*body {
  padding-top: 30px;
}
*/
.navbar-brand{
	padding:0;
}

.navbar-brand img{
	height:50px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

input[readonly] {
    background-color: #fff;
}

.form-control[readonly]{
	background-color: #fff;
}

.navbar .active > a { background:#CE1500!important } 

.widget-menu .active > a { background:#CE1500!important; color: #fff;} 

.widget-menu .active > a i { color: #fff !important} 

.navbar-inverse{
	background-color:#000;
	color: #FFF;
}

.input-group-btn select {
	border-color: #ccc;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.placepicker-map {
  min-height: 250px;
}

@media only screen{
	.report-logo{
		 display:none;
	}
}

@media print
{
	body {
	  padding-top: 0px;
	}

	table{
		font-size: 12px;
	}
	
	h1{
		margin-top: 0;	
		font-size: 25px;
	}
	
	table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    	padding: 3px !important;
    	border-top: none !important;
		}
		
	a[href]:after {
	    content: none !important;
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color:#fff;
}

.tab-pane {
  background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
}

.nav-tabs {
    margin-bottom: 0;
}

h1 .pageTitle{
	font-size: 25px;
}

.calendar-entry{
  padding: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.entry{
	vertical-align: text-top !important;
	height: 150px;
	position: relative;
	padding-top: 30px !important;
}

.entry .add-entry-btn { display:none;}
.entry:hover .add-entry-btn { display:inline-block;}

.add-entry-btn{
	position: absolute;
	top: 5px;
	right: 8px;
}

.pagination-nav{
	display: flex;
  justify-content: center;
}

.fa-sort-desc{
	font-size: 20px !important;
	cursor: pointer;
	height: 0;
}

.fa-sort-asc{
	font-size: 20px !important;
	cursor: pointer;
	height: 5px;
}

.sort-icon{
	display: inline-grid;
	margin-left: 5px;
}

.nav-collapse.navbar-inverse-collapse {
    display: block;
    padding: 10px 20px 10px;;
}



